<!DOCTYPE html>
<html>
<head>
  <title>Blood Bank</title>
</head>
<body background="/static/images/istockphoto-1256555401-612x612.jpg">
  <h1>Welcome to LifeSaver Blood Bank</h1>
  <h3>Select a District:</h3>
  <form action="/district" method="GET">
    <select name="district">
      <option value="thrissur">Thrissur</option>
      <option value="ernakulam">Ernakulam</option>
      <option value="palakkad">Palakkad</option>
    </select>
    <input type="submit" value="Go">
  </form>
</body>
</html>
