<!DOCTYPE html>
<html lang="en">
<head>
<title>BLOOD BANK</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>
    
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Ernakulam</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Thrissur</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Palakkad</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <img src="https://github.com/Strixxy/Blood-Bank/blob/main/static/images/logo.jpg?raw=true">
  <h1 class="w3-margin w3-jumbo">BLOOD BANK</h1>
  <p class="w3-xlarge"></p>
  <button onclick="myDropdown()" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Select District</button>
<div id="myDropdown" class="w3-dropdown-content w3-bar-block w3-card">
  <a href="#" class="w3-bar-item w3-button">Ernakulam</a>
  <a href="#" class="w3-bar-item w3-button">Palakkad</a>
  <a href="#" class="w3-bar-item w3-button">Thrissur</a>
</div>

<script>
function myDropdown() {
  document.getElementById("myDropdown").classList.toggle("w3-show");
}
</script>
</header>

<!-- First Grid -->
<div class="w3-content">
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-third w3-center">
      <!-- Photo Gallery -->
      <div class="gallery">
        <img src="https://github.com/Strixxy/Blood-Bank/blob/main/static/images/Blood-facts_10-illustration-graphics__canteen.png?raw=true"
         alt="Image 1"
         width="700"
         height="400"
         class="center">
        <!-- Add more images here -->
      </div>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="gallery">
      <img src="https://github.com/Strixxy/Blood-Bank/blob/main/static/images/08f2fccc45d2564f74ead4a6d5086871.png?raw=true"
       alt="Image 1"
       width="800"
       height="1000">
      <!-- Add more images here -->
    </div>
  </div>
</div>

<!-- Third Grid -->
<div class="w3-content">
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-third w3-center">
      <!-- Photo Gallery -->
      <div class="gallery">
        <img src="https://github.com/Strixxy/Blood-Bank/blob/main/static/images/2.jpg?raw=true"
         alt="Image 1"
         width="700"
         height="400"
         class="center">
        <!-- Add more images here -->
      </div>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
  <h1 class="w3-margin w3-xlarge">Be the reason for someone’s heartbeat</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://github.com/Strixxy/Blood-Bank" target="_blank">pjk</a></p>
</footer>

</body>
</html>